@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #00A36C;
  --primary-color-dark: #2AAA8A;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #98FB98;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

.header ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

.header ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}


img{
    border-radius: 50%;
    width: 300px;

}

.name{
    font-size: 34px;
    font-weight: bold;
    padding-top: 20px;
    width:  350px;
}


#info{
    padding-top:  10em;
    margin-right: 347px;
    margin-left: 347px;
    height: 2896.140px;
}



#myChart{
    padding-top: 5em;
}

.infos{
    font-weight: bold;
}

.data-row {
    display: flex;
    margin-bottom: 10px;
}

.data-label {
    width: 300px;
    font-weight: bold;
}

.data-value {
    flex: 1;
}

.con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}

.dis{
    width: 790px;
}

.perso{
    font-size: 20px;
    padding-top: 2em;
}

.perso h2{
    font-weight: bold;
}


#aboutme h1{
    font-weight: bold;
}

#aboutme  h3{
    font-weight: bold;
}

#contact{
    font-size: 20px;
  
}


body {
  background-color: var(--extra-light);
}

.aboutme li{
  font-size: 25px;
}